.heading{
    animation-name: peta;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: medium;
    width: 100%;
    bottom: 0;
}
@keyframes peta{
    from{box-shadow: 3px 3px 100px red;}
    to{box-shadow: 3px 3px 100px blue;}
}
.note{
    font-size: 15px;
    color: black;
}
#play{
    animation-name: peta;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 130px;
    border-radius: 20px;
}
canvas{
    animation-name: Yobi;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border: 20px solid white;
    border-radius: 20px;
}
@keyframes Yobi{
    from{box-shadow: 6px 6px 200px red;}
    to{box-shadow: 6px 6px 200px peachpuff;}
}
body{
    background-size: cover;
}
    .div_speed{
        float: left;
    }
    .div_speed_image{
        width: 200px;
        border-radius: 100px;
    }
    #speed{
        font-size: 23px;
        margin: 15px;
    }
    .div_volume{
        float: right;
    }
    .div_volume_image{
        width: 200px;
        border-radius: 100px;
    }
    #volume{
        font-size: 23px;
        margin: 15px;
    }